.word-display {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &__letter {
        font-size: 36px;
        font-weight: bold;
        margin: 0 5px;
        text-transform: uppercase;
        color: #4a4a4a;
        text-shadow: 1px 1px #ddd;
    }
}